<nav class="navbar navbar-expand-lg mi-navbar-retro">
  <div class="container-fluid">
    <a class="navbar-brand logo-pixel" href="#"></a>

    <!---Codigo del nadvar -->
    <div class="navbar-nav enlaces-retro">
      <a class="nav-link boton-pixel" href="#">Inicio</a>
      <a class="nav-link boton-pixel" href="#">Juegos </a>
      <a class="nav-link boton-pixel" href="#">Consolas</a>
      <a class="nav-link boton-pixel" href="#">Perfil</a>
    </div>

    <!-----------carrito y buscador del Navdar-------------->
    <div class="derecha-navbar">
      <a href="carritoRetro" class="carrito-retro" aria-label="Ver carrito"></a>

      <form class="d-flex gap-2" role="search">
        <input
          class="form-control buscador-retro input-busqueda"
          type="search"
          placeholder="Buscar"
        />
        <button class="btn boton-pixel buscador-retro" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </div>
</nav>
